/*цвет заголовков #212121 
цвет текста #757575;
акцент #2196F3;
h1, фон #ffffff;
фон шапки, подвала #2F303A;
фон команди F5F4FA
фон кнопок, карток #F5F4FA;
фон карток #EEEEEE;
фон наша команда #E5E5E5;
фон лого #000000; #2196F3;
*/

:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color:#2196f3;
    --background-color:#ffffff;
    --footer-background:#2F303A;
    --hero-background:#2F303A;
    --team-background: #F5F4FA;
    --button-color: #212121;
    --nav-color: #212121;
    --button-background: #F5F4FA;
    --time-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    p, h1, h2, h3 {
        margin: 0;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
    
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    button {
        cursor: pointer;
        border-radius: 4px;
    }
    
    .container {
        width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        outline: 2px solid green;
    }
    
    .header {
        border-bottom: 1px solid #ECECEC;
    }
    .header-container {
        display: flex;
        align-items: center;
    }
    .navigation {
        display: flex;
        align-items: center;
    }
    .nav-list{
        display: flex;
    }
    .contacts {
        display: flex;
        margin-left: auto;
    }
    .contact-item {
        display: flex;
    }
    
    .contact-item + .contact-item {
        margin-left: 50px;
    }
    
    .nav-item + .nav-item {
        margin-left: 50px;
    }
    
    
    body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    }
    .list {
        list-style: none;
    }
    
    /*лого*/
    .logo {
        font-family: Raleway, sans-serif;
        color: var(--accent-color);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        text-decoration: none;
        padding-top: 24px;
        padding-bottom: 25px;
        margin-right: 93px;

        
        transition: color var(--time-duration) var(--timing-function);
    }
    .logo-studio {
        color: #000000;
        
    }
    .logo-studio-footer,
    .adress-item-city{
        color: #ffffff;
    }
    .logo:hover,
    .logo:focus {
        color: var(--accent-color);
    }
    /*навигация*/
    .nav-link {
        position: relative;
        display: block;
        
        padding-top: 32px;
        padding-bottom: 32px;
       
        
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
           
        
        transition: color var(--time-duration) var(--timing-function);
    }
     

    .nav-link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    
        transform: scaleX(0);
        transition: transform var(--time-duration) var(--timing-function);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: var(--accent-color);
    }

    .nav-link:hover::after,
    .nav-link:focus::after {
        transform: scaleX(1);
    }
    

    /* шапка сайта */
    .header-link-mail,
    .header-link-tel {
        color: inherit;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        display: flex;
        justify-content: center;
        align-items: center;

       
        transition: color var(--time-duration) var(--timing-function);
    }
    
    
    .header-link-mail:hover,
    .header-link-mail:focus,
    .header-link-tel:hover,
    .header-link-tel:focus {
        color: var(--accent-color);
    }
    
    .header-tel-icon,
    .header-mail-icon {
    margin-right: 10px;
    
    fill: currentColor;
    
    transition: fill var(--time-duration) var(--timing-function);
    }

    .header-mail-icon {
        width: 16px;
        height: 12px;
    }
    
    .header-tel-icon {
        width: 10px;
        height: 16px;
    }
    .header-mail-icon:hover,
    .header-mail-icon:focus,
    .header-tel-icon:focus,
    .header-tel-icon:hover {
        fill: var(--accent-color);
    }
    
    /*Герой*/
    .hero {
        background-color: var(--hero-background);
    
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../images/hero-image.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        max-width: 1600px;
        height: 600px;
        
        padding-top: 200px;
        padding-bottom: 200px;
        margin: 0 auto;
        
        text-align: center;
    
    }
    .hero-title {
        color: #ffffff;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        width: 696px;
        
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }
    .hero-btn {
        color: #ffffff;
        background-color: var(--accent-color);
        font-family: inherit;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.88;
        letter-spacing: 0.06em;
        cursor: pointer;
        border-radius: 4px;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
           
        min-width: 200px;
        min-height: 50px;
    
        padding: 10px 32px;
        justify-content: center;
    }

    /* Modal window */
    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        opacity: 1;
        visibility: visible;
    }

    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 528px;
        height: 581px;
        padding: 15px;
        border-radius: 4px;
        background-color: #ffffff;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);


    }

    .close-modal {
        position: absolute;
        top: 8px;
        right: 8px;

        width: 30px;
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.1); 
        border-radius: 50%;
        
        background: #FFFFFF;

        display: flex;
        justify-content: center;
        align-items: center;


    }

    .close-modal-icon {
        width: 18px;
        height: 18px;
        fill: currentColor;

        transform: fill var(--time-duration) var(--timing-function);
    }

    .close-modal-icon:hover,
    .close-modal-icon:focus {
        fill: var(--accent-color);
    }
    .send-modal-icon {
        
        position: absolute;
        bottom: 40px;
        left: 164px;
        width: 200px;
        height: 50px;    
        border: transparent;
        border-radius: 4px;
        
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        color: #ffffff;
        background-color: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .send-modal-text {

        font-size: 20px;
        font-weight: 700;
        line-height: 1.15;
        text-align: center;
        
        color: var(--nav-color);
        
    }
    
    /*Преимущества*/
    .visually-hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .features {
        display: flex;
    }
    
    .features-item:not(:first-child) {
        margin-left: 30px;
    }
    .features-title {
        color: var(--title-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.14;
        text-transform: uppercase;
        
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .features-text {
        color: var(--text-color);
        line-height: 1.71;
    }
    
    .features-img-link {
    
        min-height: 120px;
        
        display: flex;
        justify-content: center;
        align-items: center;
       
        
        background-color: #f5f4f4;
        
        
        
    }
    .features-img-icon {
        display: block;
        
        width: 70px;
        height: 70px;
    }
    
    /*Наши работы*/
    .works {
        display: flex;
        margin-left: -30px;
    }
    .works-section {
        padding-top: 0;
    }
    .section-title{
        color: var(--title-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
    }
    .works-title {
        margin-bottom: 50px;
    }
    
    .works-item {
        position: relative;
        width: calc(100% / 3 - 30px);
        margin-left: 30px;
    }
    
    .works-text {
        position: absolute;
        content: '';

        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;

        
        font-weight: 700;
        line-height: 1.17; 
        text-transform: uppercase;
        text-align: center;

        color: #ffffff;
        background: #2F303ACC;
       

    }
    
    /* Мастера */
    .section-masters {
        background-color: var(--team-background);
    
    }
    .masters {
        
        display: flex;
    }
    
    .masters-item-content {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .masters-item {
        
        background-color: #ffffff;
        width: calc((100% - 90px) / 4);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    
    }
    .masters-item:not(:first-child) {
        margin-left: 30px;
    }
    .masters-title {
        
        margin-bottom: 50px;
    }
    .masters-item-title,
    .masters-text {
        color: var(--title-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.19;
        text-align: center;
    
    }
    .masters-item-title {
        
        margin-bottom: 10px;
        
    }
    
    .masters-text {
        color: var(--text-color);
        font-weight: 400;
    }
    .masters-socials-list {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }
    
    .masters-socials-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        
    
        display: flex;
        justify-content: center;
        align-items: center;

        transition:  fill var(--time-duration) var(--timing-function), background-color var(--time-duration) var(--timing-function);
    }
    .masters-socials-item + .masters-socials-item {
        margin-left: 10px;
    }
    
    .masters-social-icon {
        fill: #AFB1B8;
        
    }
    .masters-socials-link:hover {
        background-color: var(--accent-color); 
    } 
    .masters-socials-link:hover .masters-social-icon {
       fill: #ffffff;
    } 
    
    .masters-socials-link:focus {
        background-color: var(--accent-color); 
    } 
    
    .masters-socials-link:focus .masters-social-icon {
        fill: #ffffff;
    } 
    
    /* Постоянные клиенты */
    .section-title {
        margin-bottom: 50px;
    }
    
    .clients-item:not(:first-child) {
        margin-left: 30px;
    }
    .clients-list {
        display: flex;
        flex-wrap: nowrap;
    }
    .clients-link {
        width: 170px;
        height: 92px;
        
        display: flex;
        justify-content: center;
        align-items: center;
           
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        
        transition: border var(--time-duration) var(--timing-function), fill var(--time-duration) var(--timing-function);;
    }
    .clients-icons {
        display: block;
        
        width: 106px;
        height: 60px;
    
        fill: #AFB1B8;
    }
    

    .clients-link:hover,
    .clients-link:focus {
        border-color: var(--accent-color);

    }
    .clients-link:hover .clients-icons,
    .clients-link:focus .clients-icons {
        fill: var(--accent-color);
    }
    
   

    /* Подвал */
    .footer {
        background-color: #2F303A;
        padding-top: 60px;
        padding-bottom: 60px;
    } 
    
    .logo-footer {
        padding: 0;
        margin: 0;
    }
    .section-adress{
        margin-top: 20px;
    }
    .adress-item:not(:last-child) {
        margin-bottom: 9px;
    }
    .adress-link{
        color: var(--text-color);
        background-color: var(--footer-background);
        font-style: normal;
        line-height: 1.71;
        text-decoration: none;

        transition: color var(--time-duration) var(--timing-function);
    }
    .adress-link:hover,
    .adress-link:focus {
        color: var(--accent-color);
    }
    
    .logo-studio-footer,
    .adress-footer {
        color: #ffffff;
    }
    
    .footer-container {
        display: flex;
        align-items: baseline;
    }
    
    .join-title {
        
        font-weight: 700;
        line-height: 1.17;
        text-align: left;
    
        text-transform: uppercase;
        
        color: #ffffff;
        margin-bottom: 20px;
        
    }
    
    .container-join {
       
        margin-left: 70px;
        
    
    }
    .join-list {
        
        display: flex;
        justify-content: center;
        
    }
    
    .join-link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
    
        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color var(--time-duration) var(--timing-function);
    }
    .join-item:not(:first-child) {
        margin-left: 10px;
    }
    
    .join-icon {
        width: 20px;
        height: 20px;
        fill: #ffffff;
    
    }
    
    .join-link:hover,
    .join-link:focus {
        background-color: var(--accent-color); 
    } 
    
  
    
    
    
    /* portfolio */
    /* Фильтр */
    .filter {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    .button {
        cursor: pointer;
        font-family: inherit;
        color: var(--button-color);
        background-color: var(--button-background);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        text-decoration: none;
        border: transparent;

        padding: 6px 22px;

        transition: background-color var(--time-duration) var(--timing-function); transition: color var(--time-duration) var(--timing-function), cursor var(--time-duration) var(--timing-function), box-shadow var(--time-duration) var(--timing-function);
    }
    
    .filter-item + .filter-item {
        margin-left: 10px;
    }
    
    .button:hover,
    .button:focus {
        background-color: var(--accent-color);
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    /* проекты */
    .project {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
    }
      
    .projects-content {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
        border-bottom: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        
    }
    
    .project-item {

       
        margin-left: 30px;
        margin-bottom: 30px;
    }
  
    .project-link {
        

        display: block;
        text-decoration: none;
        flex-basis: calc(100% / 3 - 30px);

        transition: box-shadow var(--time-duration) var(--timing-function);
    }
    .project-link:hover.project-link,
    .project-link:focus.project-link {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);    
    }
    .project-link-title {
        color: var(--title-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
       
    }
   
    .project-link-text {
        color: var(--text-color);
        font-size: 16px;
        line-height: 1.88;
        
    }

    .project-thumb {
        position: relative;
    } 

    .project-thumb::before {
        display: inline-block;
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 24px;
        width: 100%;
        height: 100%;
        background-color: var(--accent-color);
        
        opacity: 0; 

        transform: translateY(100%);
        transition: transform var(--time-duration) var(--timing-function);
    }

    .project-thumb:hover::before {
        opacity: 1;
    }
    .project-link:hover .project-thumb::before,
    .project-link:focus .project-thumb::before {
       transform: translateY(0);
       
    }

    .project-link:hover .project-action,
    .project-link:focus .project-action {
        transform: translateY(0);
        opacity: 1;
    }

    .project-action {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        padding-top: 63px;
        padding-bottom: 63px;
        padding-right: 24px;
        padding-left: 24px;

        
        background-color: var(--accent-color);
        color: #FFFFFF;
        font-size: 18px;
        line-height: 1.555;
        

        opacity: 0;

        transform: translateY(100%);
        transition: transform var(--time-duration) var(--timing-function);
    }
